<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-8 col-sm-12 col-12">
                <h1 class="title-welcome fw-bold">¡Bienvenido!</h1><br>
                <p>En nuestra plataforma, puedes hacer el seguimiento <br> de la reparación de tu <b>APPLE</b> <br>
                    <br><b>Recuerda</b> que puedes adquirir <br> nuestros productos <a href="">aqui</a>.
                </p>
                <div class="row pt-4">
                    <div class="col-lg-4 col-sm-6 col-6">
                        <button type="button" class="btn btn-principal" [routerLink]="['login']"><h2 class="text-revert m-0">Iniciar Sesión</h2></button>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-6">
                        <button type="button" class="btn btn-principal" [routerLink]="['register']"><h2 class="text-revert m-0">Registrarme</h2></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-12 space-publicidad">
                <img class="d-inline-block image-publicidad" src="../../assets/images/publicidad.jpeg">
            </div>
        </div>
    </div>
</div>