<div class="row">
    <div class="col-12">
        <h1 class="title-welcome fw-bold">Lista de Usuarios</h1><br>
        <p>Exporta una base de datos y hazle 
            conocer tus productos al cliente 
        </p>
        <div class="card list-users-card pb-4">
            <div class="card-body">
                <p>Filtro:</p>
                <form class="client-form">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <input type="datepicker" class="form-control input-user" id="date-of-birth-user" aria-describedby="date-of-birth-user" placeholder="Fecha de nacimiento">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="text" class="form-control input-user" id="user-last-name" aria-describedby="user-last-name" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="text" class="form-control input-user" id="user-name" aria-describedby="user-name" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-3 btn-search">
                            <button type="button" class="btn btn-principal"><h3 class="text-revert m-0">Buscar</h3></button><br>
                        </div>
                    </div>
                </form><br><br>
                <h3>Selecciona a quienes quieres enviar la oferta</h3><br>
                <div class="card list-users-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="row line-list-users">
                                    <div class="col-1"></div>
                                    <div class="col-4">Nombre Completo</div>
                                    <div class="col-4">Fecha de nacimiento</div>
                                    <div class="col-3">Número de celular</div>
                                </div>
                                <br>
                                <div class="row line-list-users">
                                    <div class="col-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check-client">
                                        </div>
                                    </div>
                                    <div class="col-4">Natalia Paris</div>
                                    <div class="col-4">20-07-1900</div>
                                    <div class="col-3">318 245 5636</div>
                                </div>
                            </div>
                            <div class="col-3 text-center">
                                <button type="button" class="btn btn-principal width-100"><h4 class="text-revert m-0">Enviar Oferta por SMS</h4></button><br><br>
                                <button type="button" class="btn btn-principal width-100"><h4 class="text-revert m-0">Enviar oferta por correo</h4></button><br><br>
                                <button type="button" class="btn btn-principal width-100"><h4 class="text-revert m-0">Volver al inicio</h4></button><br><br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br><br>
<div class="row">
    <div class="col-12">
        <h1 class="title-welcome fw-bold">Envia Campaña</h1><br>
        <p>Configura como quieres enviar la campaña por correo electronico
        </p>
        <div class="card list-users-card pb-4">
            <div class="card-body">

                <form class="client-form">
                    <span>Configura el cuerpo del email, antes de enviar</span><br>
                    <div class="form-group pt-2">
                        <textarea type="textarea" class="form-control input-user" id="comment-user" aria-describedby="comment-user" rows="8" cols="20"></textarea>
                    </div>
                    <div class="row pt-4">
                        <div class="col-2">
                            <div class="secondary-sections content-center">
                                <span class="material-icons">attach_file</span> Aduntar imagen
                            </div>
                        </div>
                        <div class="col-2 col-lg-5 col-md-5"></div>
                        <div class="col-8 col-lg-5 col-md-5">
                            <button type="button" class="btn btn-principal"><h2 class="text-revert m-0">Enviar campaña</h2></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
