<div class="row">
    <div class="col-12">
        <h1 class="title-welcome fw-bold">¡Bienvenido!</h1><br>
        <p>Hola! <b>Alexander Bernal Moreno</b> 
        </p>
        <div class="row pt-4 div-admin text-center">
            <div class="col-12 col-lg-4 col-md-4 pt-3">
                <button type="button" class="btn btn-principal"><h2 class="text-revert m-0">Crear usuarios</h2></button>
            </div>
            <div class="col-12 col-lg-4 col-md-4 pt-3">
                <button type="button" class="btn btn-principal"><h2 class="text-revert m-0">Lista de usuarios</h2></button>
            </div>
            <div class="col-12 col-lg-4 col-md-4 pt-3">
                <button type="button" class="btn btn-principal"><h2 class="text-revert m-0">Seguimientos</h2></button>
            </div>
            <div class="col-12 col-lg-4 col-md-4 div-admin pt-3">
                <button type="button" class="btn btn-principal"><h2 class="text-revert m-0">Nomina</h2></button>
            </div>
            <div class="col-12 col-lg-4 col-md-4 div-admin pt-3">
                <button type="button" class="btn btn-principal"><h2 class="text-revert m-0">Cambio de contraseña</h2></button>
            </div>
        </div>
    </div>
</div>