<ng-template #content let-modal>
    <div class="modal-header">
        <h2 class="title-welcome fw-bold">Seguimiento</h2>
        <a class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <i class="pi pi-times"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-12">
            <h2 class=" fw-bold">Editar Usuario</h2>
            <form style="padding-left: 20%;" class="form-create-user col-12" (ngSubmit)="updateUsers()" [formGroup]="updateUserForm">
                <div class="row">
                    <div class="col-6 col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">ID Usuario: </label>
                            <input type="number" readonly formControlName="idusuario"
                                class="form-control input-user number-user" id="id-user" aria-describedby="id-user"
                                placeholder="id *">
                        </div>
                    </div>
                    <div class="col-1 d-lg-block d-md-block d-none d-md-none"></div>
                    <div class="col-6 col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Cedula: </label>
                            <input type="number" readonly formControlName="cedula" class="form-control input-user number-user"
                                id="identification-user" aria-describedby="identification-user" placeholder="Cedula *">
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Nombre: </label>
                            <input type="text" formControlName="nombre" class="form-control input-user number-user"
                                id="name-user" aria-describedby="name-user" placeholder="Nombres *">
                        </div>
                    </div>
                    <div class="col-1 d-lg-block d-md-block d-none d-md-none"></div>
                    <div class="col-6 col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Apellido: </label>
                            <input type="text" formControlName="apellido" class="form-control input-user number-user"
                                id="last-name-user" aria-describedby="last-name-user" placeholder="Apellidos *">
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Email: </label>
                            <input type="email" formControlName="correo" class="form-control input-user number-user"
                                id="email-user" aria-describedby="email-user" placeholder="Email *">
                        </div>
                    </div>
                    <div class="col-1 d-lg-block d-md-block d-none d-md-none"></div>
                    <div class="col-6 col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Teléfono: </label>

                            <input type="number" formControlName="telefono" class="form-control input-user number-user"
                                id="phone-user" aria-describedby="phone-user" placeholder="telefono *">
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Rol: </label>
                            <select class="form-select input-user" style="font-size: 19px; color: rgb(85, 85, 85);"
                                formControlName="id_rol" [(ngModel)]="rolSelected" aria-label="Selelccione un rol">
                                <option style="font-size: 18px;" *ngFor="let rol of listRoles" value="{{rol.value}}">
                                    {{rol.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-1 d-lg-block d-md-block d-none d-md-none"></div>
                    <div class="col-6 col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Tipo de Contrato: </label>
                            <select class="form-select input-user" style="font-size: 19px; color: rgb(85, 85, 85);"
                                formControlName="tipocontrato" [(ngModel)]="contratSelected">
                                <option style="font-size: 18px;" *ngFor="let contrat of listContrats"
                                    value="{{contrat.value}}">{{contrat.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Clave: </label>
                            <input type="password" formControlName="clave" class="form-control input-user number-user"
                                id="password-user" aria-describedby="password-user" placeholder="clave *">
                        </div>
                    </div>
                    <div class="col-1 d-lg-block d-md-block d-none d-md-none"></div>
                    <div class="col-6 col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Estado: </label>
                            <select class="form-select input-user" style="font-size: 19px; color: rgb(85, 85, 85);"
                                formControlName="id_estado" [(ngModel)]="stateSelected">
                                <option style="font-size: 18px;" *ngFor="let state of listStates"
                                    value="{{state.value}}">{{state.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Fecha de Nacimiento: </label>
                            <input type="date" formControlName="fechanacimiento"
                                class="form-control input-user number-user" id="date_born" aria-describedby="date_born"
                                placeholder="Fecha de Nacimiento *">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div style="margin-bottom: 5%;" class="row pt-3">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <button type="button" (click)="modal.dismiss()" class="btn btn-principal">
                            <h2 class="text-revert m-0">Cancelar</h2>
                        </button>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-principal">
                            <h2 class="text-revert m-0">Actualizar</h2>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<div style="margin-bottom: 100px;" class="row">
    <div class="col-12">
        <h1 class="title-welcome fw-bold">¡Bienvenido!</h1><br>
        <p>Hola! <b>Alexander Bernal Moreno</b>
        </p>
        <div class="row pt-4 div-admin text-center">
            <div class="col-12 col-lg-4 col-md-4 pt-3">
                <button type="button" [routerLink]="['/create-user']" class="btn btn-principal">
                    <h2 class="text-revert m-0">Crear usuarios</h2>
                </button>
            </div>
            <div class="col-12 col-lg-4 col-md-4 pt-3">
                <button type="button" [routerLink]="['/list-users']" class="btn btn-principal">
                    <h2 class="text-revert m-0">Lista de usuarios</h2>
                </button>
            </div>
            <div class="col-12 col-lg-4 col-md-4 pt-3">
                <button type="button" [routerLink]="['/follow-up']" class="btn btn-principal">
                    <h2 class="text-revert m-0">Seguimientos</h2>
                </button>
            </div>
        </div>
        <div class="row pt-4 div-admin text-center">
            <div class="col-12 col-lg-4 col-md-4 div-admin pt-3">
                <button type="button" [routerLink]="['/create-code']" class="btn btn-principal">
                    <h2 class="text-revert m-0">Crear codigo</h2>
                </button>
            </div>
            <div class="col-12 col-lg-4 col-md-4 div-admin pt-3">
                <button type="button" (click)="openModal(content)" class="btn btn-principal">
                    <h2 class="text-revert m-0">Editar Información</h2>
                </button>
            </div>
        </div>
    </div>