@import '_colors'
@import '_variables'
@import '_styles'

.list-users-card
    border-radius: 20px
    padding: 1vw 4vw

.line-list-users
    border-bottom: 1px solid $color-black
    padding-bottom: 0.3vw

.actived-user
    color: $actived-user
    font-weight: bold

.desactived-user
    color: $desactived-user
    font-weight: bold
