<div class="row">
    <div class="col-12 text-justify">
        <h1 class="title-welcome fw-bold">Política de privacidad de Repara Tu Apple</h1><br><br>
        <p>
            <b>Estimado Cliente,</b><br><br>
            El Responsable del tratamiento de sus Datos Personales recolectados es REPARA TU APPLE
            COLOMBIA, con domicilio en la Calle 185 # 55d-36, Bogotá D.C., página web:
            www.reparatuapplecol.com, correo electrónico: comercial@reparatuapplecol.com.<br><br>
            La finalidad de recolección de sus datos personales es mejorar el flujo de información entre
            repara tu Apple Colombia, para así estar en constante desarrollo de los bienes y servicios
            ofertados por nosotros.<br><br>
            Sus derechos como titular de la información recolectada son: CONOCER, ACTUALIZAR,
            RECTIFICAR Y EXCLUIR DICHA INFORMACIÓN DE NUESTRA BASE DE DATOS.
        </p>
    </div>
</div>
