<div class="row">
    <div class="col-12">
        <h1 class="title-welcome fw-bold">Cambio de contraseña</h1><br>
        <p>Ingresa tu nueva contraseña y confirmala, para que sea cambiada con éxito.</p>
        <form class="pt-4 text-center form-change-password">
            <div class="row">
                <div class="col-lg-3 col-sm-1 col-1"></div>
                <div class="col-lg-6 col-sm-10 col-10">
                    <div class="form-group">
                        <input type="password" class="form-control input-user" id="password-user" placeholder="Cambio de Contraseña">
                    </div><br>
                    <div class="form-group">
                        <input type="password" class="form-control input-user" id="password-user" placeholder="Confirma tu Contraseña nueva">
                    </div><br><br>
                    <div class="form-group">
                        <button type="button" class="btn btn-principal"><h2 class="text-revert m-0">Cambiar mi contraseña</h2></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-1 col-1"></div>
        </form>
    </div>
</div>