<div class="row">
    <div class="col-12 text-justify">
        <h1 class="title-welcome fw-bold">Términos de uso de Repara Tu Apple</h1><br><br>
        <p>
            Repara Tu Apple brinda un servicio de inscripción personalizado y gratuito
            que permite a nuestros miembros acceder para ver el seguimiento de sus
            equipos en el estado de reparación o un servicio de compra.<br><br>
            Los presentes Términos de uso rigen la utilización que haga de nuestro
            servicio. Según se utilicen en estos Términos de uso, las frases “el servicio de
            repara tu apple”, “nuestro servicio” o “el servicio” se refieren al servicio
            personalizado brindado por repara tu apple para ver el seguimiento de tus
            productos, incluidas todas las características y funcionalidades,
            recomendaciones y críticas, el sitio web y las interfaces de usuario, y software
            asociado a nuestro servicio.<br><br>

            <b>1. Ofertas promocionales</b> Ocasionalmente, podríamos hacer ofertas
            especiales de promociones. Repara tu apple determina los requisitos
            para acceder a la Oferta a su exclusivo criterio, y nos reservamos el
            derecho de revocar una Oferta y suspender su cuenta si determinamos
            que usted no es elegible.<br><br>

            <b>2. Servicio de plataforma de seguimiento</b> Debes tener, al menos, 18 años de edad, para ser miembro del servicio de
            Repara tu Apple. Los menores solamente pueden usar el servicio bajo la
            supervisión de un adulto.<br><br>

            El servicio de Repara tu Apple y todo el contenido visto en él son sólo para
            uso personal, no comercial, y no debe compartirse con personas que no sea
            el usuario legítimo creado para ver el seguimiento de tu reparación.<br><br>

            Acepta usar el servicio de Repara tu apple, incluidas todas las características
            y funcionalidades asociadas con éste, bajó conformidad con todas las leyes,
            normas y reglamentaciones vigentes, o cualquier otra restricción al uso del
            servicio o sus contenidos. Usted también acepta: no evitar, eliminar, alterar,
            desactivar, interferir con o burlar las protecciones de contenido del servicio de
            repara tu apple; no usar ningún robot, spider, scraper u otra forma
            automatizada para acceder al servicio de seguimiento de producto; ni
            descompilar, realizar ingeniería inversa, desarmar el software u otro producto
            o proceso a los que se acceda a través del servicio; no introducir de alguna
            manera un código o producto o manipular el contenido del servicio de la
            plataforma; ni usar método alguno de análisis, extracción u obtención de
            datos. Asimismo, se compromete a no subir, publicar, enviar por email ni
            transmitir de cualquier otra forma ningún material diseñado para interrumpir,
            destruir o limitar la funcionalidad del software de computación, hardware o
            equipos de telecomunicaciones asociados con el servicio para repara tu
            apple, incluido material que contenga virus de software o cualquier otro
            código, archivos o programas. Podríamos terminar o restringir su uso de
            nuestro servicio si usted viola cualquiera de los Términos de uso o usa el
            servicio de forma ilegal o fraudulenta.<br><br>

            El software de repara tu apple es desarrollado por repara tu apple o a pedido
            de repara tu apple, y solo puede utilizarse para ver el seguimiento de tu
            producto y/o servicio que se le presta. podrá identificar en el momento que
            llega su equipo al laboratorio hasta que sale con todos sus protocolos de
            seguridad, ver la trazabilidad de un producto adquirido. Este software puede
            variar según el dispositivo y el medio, y la funcionalidad y las funciones
            también pueden variar de un dispositivo a otro. Usted reconoce que el uso del
            servicio puede requerir software de terceros que esté sujeto a licencias de
            terceros. Usted acepta que puede recibir automáticamente versiones
            actualizadas del software de repara tu apple y el software relacionado de
            terceros.<br><br>

            <b>Contraseñas y acceso</b> El miembro que creó la cuenta de repara tu apple y
            al que se le facturan los cargos a través de su Forma de pago, es
            responsable de cualquier actividad que ocurra en la cuenta de repara tu
            apple. Para mantener el control sobre la cuenta y evitar que alguien acceda a
            la cuenta (que incluiría información sobre el historial de visualización de la cuenta), 
            el Titular de la cuenta debería mantener el control sobre los
            dispositivos listos para repara tu apple que se utilizan para acceder al servicio
            y no revelar a nadie la contraseña ni la información de la Forma de pago
            asociada con la cuenta. Es su responsabilidad actualizar y mantener la
            exactitud de la información personal que nos brinda respecto de su cuenta.<br><br>

            <b>Renuncia a la acción colectiva</b> EN LA MEDIDA EN QUE LAS LEYES
            APLICABLES LO PERMITAN, USTED Y REPARA TU APPLE ACUERDAN
            QUE CADA UNO PUEDE PRESENTAR RECLAMOS CONTRA LA OTRA
            PARTE SOLO EN NOMBRE PROPIO, Y NO COMO ACTORA O PARTE DE
            UN GRUPO EN UNA ACCIÓN COLECTIVA O REPRESENTATIVA. Además,
            si la ley aplicable lo permite, a menos que tanto usted como repara tu apple
            acuerden lo contrario, el tribunal no podrá acumular las causas de más de
            una persona con su causa o, de lo contrario, no podrá presidir ninguna acción
            representativa o colectiva.<br><br>

            <u>Servicio al cliente</u> Si necesita obtener más información sobre nuestro servicio
            y sus funciones, o si necesita asistencia con su producto que solicito, con su
            cuenta, puede comunicarse con nuestra asesora quien en un principio le dio
            su número de contacto, o se puede comunicar emdiante nuestra asistencia
            por redes sociales como lo son: Facebook, instagram y/o tiktok, En el caso en
            que haya un conflicto entre estos Términos de uso y la información
            proporcionada por el Servicio al Cliente u otras secciones de nuestro sitio
            web, estos Términos de uso dirimirán cualquier diferencia.<br><br>

            <u>Continuación de vigencia</u> Si alguna de las disposiciones de estos
            Términos de uso es declarada nula, ilegal o inaplicable, la validez, legalidad y
            aplicación de las restantes disposiciones continuarán en plena vigencia.<br><br>

            <u>Cambios en los Términos de uso y cesión</u> repara tu apple puede cambiar
            estos Términos de uso cuando sea necesario. Le informaremos con al menos
            30 días de anticipación si estos cambios se aplican a usted. Podemos ceder o
            transferir nuestro acuerdo con usted, incluidos nuestros derechos asociados y
            nuestras obligaciones en cualquier momento y usted acepta cooperar con
            nosotros en relación con dicha cesión o transferencia.
        </p>
    </div>
</div>